/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
	background: black url('../images/background.jpg') no-repeat center top fixed;
	color: white;
}

a, a:hover, a:link, a:visited, a.active {
	color: white;
	text-decoration: none;
}

.paper a, .paper a:hover, .paper a:link, .paper a:visited, .paper a.active {
  color: black;
  text-decoration: none;
}

.messages a:link, .messages a:visited {
  color: black;
}

.region-content a, .region-content a:hover, .region-content a:link,
.region-content a:visited, .region-content a.active {
  color: #006666;
  text-decoration: none;
}
.container-12 .grid-9.alpha {
  width: 710px;
}

.container-12 .grid-3.omega {
  width: 235px;
  margin-left: 5px;
}

.container-12 .grid-3.alpha {
  width: 235px;
  margin-right: 15px;
}


#node-admin-content table {
  text-align: left;
}

.primary a {
	color: black;
}

.logo-img {
  position: absolute;
  z-index: 99;
  top: 23px;
}

h1#page-title {
  margin-bottom: 0;
  width: 601px;
  line-height: 38px;
}

h2 {
	font-weight: normal;
}
h2.block-title {
	background-color: white;
	color: black;
	padding-left: 7px;
	padding-top: 2px;
	border-bottom: 1px solid #EAEAEA;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0px;
  font-family: 'BebasNeueRegular';
  font-weight: normal;
}

ul.primary {
	margin: 5px 0 0;
	padding: 0;
}

.node ol, .node ul {
  padding-left: 3em;
  margin-bottom: 5px;
}

.jp-controls {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.jp-audio {
  padding: 0;
  margin: 0;
  width: 205px;
}

#section-header {
	margin-top: 10px;
}

#zone-menu {
  background: url('../images/menu.png') no-repeat 0 0;
  height: 91px;
}

#zone-menu-wrapper {
	margin: 10px 0;
}

#main-menu {
  position: absolute;
  left: 175px;
  top: 35px;
}

.main-menu a, .main-menu li a.active {
	color: black;
	font-size: 24px;
	line-height: 28px;
	text-decoration: none;
	padding: 2px 6px 0;
}

.main-menu li a.active, .main-menu li a:hover {
	color: #006666;
}

#main-menu .first {
	padding-left: 0;
}

.navigation {
}

div.block-inner {
  background-color: white;
  border: 1px solid white;
  color: black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.grid-3 div.block-inner a:link, .grid-3 div.block-inner a:visited {
  color: #066;
}

.grid-3 div.block-inner a:hover {
  text-decoration: underline;
}

/* remove block styling for selected blocks */
.block-main div.block-inner, .block-slideshow-block div.block-inner {
  background: none;
  border: none;
  padding: 0;
}

.block.block-main .content, .block.block-slideshow-block .content {
  padding: 0;
}

.block {
	padding-bottom: 15px;
}

.block .content {
	padding: 10px;
}

.block-video-block .content {
	padding: 0;
}

.region-content .feed-icon {
	display: none;
}

.not-front #region-content, .page-user #region-content, .paper {
  background-color: white;
  color: black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.not-front .container-12 .grid-9.alpha#region-content {
  width: 670px;
}

.page-user #region-content {
  width: 670px;
}

.page-video .container-12 .grid-9.alpha#region-content {
  background: none;
  color: white;
  padding: 0;
  width: 710px;
}

.container-12 .grid-9.alpha.paper {
  width: 670px;
  margin: 0;
}

.page-user #region-content .region-content-inner, .paper {
  padding: 20px 20px 0;
}

.view-video .view-content ul {
  float: left;
}

.view-video .view-content a, .view-video .view-content a:hover, .view-video .view-contenta:link,
.view-video .view-content a:visited, .view-video .view-content a.active {
  color: #001a1a;
  font-size: 12px;
  font-weight: bold;
}

.views-field-field-video {
  margin-bottom: 10px;
}

.view-video .view-content ul li {
	margin: 0 5px;
	display: block;
	float: left;
	border: 1px solid white;
	/* background-color: #001a1a; */
	background-color: white;
	height: 285px;
	padding: 10px 9px;
	margin-bottom: 10px;
	position: relative;
	width: 205px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.video-block-title a {
	width: 180px;
	margin: 10px 0 0;
	font-size: 18px;
	line-height: 18px;
}

.views-field-field-rating {
	position: absolute;
	bottom: 15px;
	margin: 0 auto;
	width: 180px;
}

.page-video .region-sidebar-second {
  margin-top: 40px;
}

.view-profile-view .form-type-textarea {
  margin-bottom: 10px;
}

.view-profile-view .filter-wrapper {
  display: none;
}

.view-profile-view article {
  padding: 10px;
  border: 1px solid #CDD;
  margin-bottom: 20px;
  border-radius: 2px;
  position: relative;
}

.view-profile-view article div.content {
  text-align: center;
}

.view-profile-view article h2 {
  font-size: 20px;
  line-height: 20px;
  width: 520px;
}

.view-profile-view .node-teaser .field-name-body {
  margin-top: 40px;
}

.view-profile-view article .node-links {
  text-align: center;
}

.view-profile-view article .node-links ul li a, .view-profile-view article .comment-links ul li a {
  font-size: 10px;
}

.comment-form .form-type-item, .view-profile-view .form-item-subject {
  display: none;
}

/* Serach */

.block-search {
    float: right;
}

#search-block-form {
  background: url("../images/searchbar.png") no-repeat 0 0;
  width: 269px;
  height: 40px;
}

#search-block-form .block .content {
  padding: 0;
}

form#search-block-form {
  float: right;
  margin-top: 15px;
}

#search-block-form input[type="text"] {
  border: none;
  background: none;
  height: 40px;
  width: 238px;
  color: white;
  font-size: 14px;
  padding-left: 10px;
}

.block-search div.block-inner {
  background: none;
  border: none;
  padding: 0;
}

#search-block-form input[type="submit"]{
  border: none;
  background: url("../images/submit_search.png") no-repeat 0 0;
  text-indent: -9999px !important;
  width: 14px;
  height: 14px;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: 0;
}

/* Footer */

#zone-footer-wrapper {
margin-top: 10px;
}

.zone-footer {
	text-align: center;
}

.zone-footer div.block-inner {
	padding-top: 15px;
	border-top: 1px solid #001a1a;
	border-bottom: none;
	border-left: none;
	border-right: none;
	opacity: .5;
	background: black;
	color: white;
}

.zone-footer a, .zone-footer a:hover, .zone-footer:visited {
  color: white;
}

/* Poll */

.block-poll .links {
  display: none;
}

.poll .bar {
  background: url("../images/pollbar.png") no-repeat 0 0;
  height: 24px;
}

.poll .bar .foreground {
  background-color: white;
  opacity: 0.3;
  height: 24px;
}

.poll .percent {
  text-align: right;
  position: relative;
  top: -22px;
  right: 5px;
  margin-bottom: -12px;
  color: white;
}

/* slideshow */

.view-slideshow {
  background: url("../images/slideshow_bg.png") no-repeat 0 0;
  height: 400px;
  width: 710px;
}

.view-slideshow a, .view-slideshow a:hover, .view-slideshow a:visited,
 .view-slideshow a:link,  .view-slideshow a.active {
  color: white;
}

#views_slideshow_cycle_main_slideshow-block {
  position: absolute;
  top: 36px;
  left: 11px;
}

.block-slideshow-block .header {
  position: absolute;
  bottom: 0;
  width: 673px;
  padding-top: 5px;
  padding-left: 15px;
  background-color: black;
}

#views_slideshow_controls_text_previous_slideshow-block {
  background: url(/sites/all/themes/grindxl/images/previous_btn.png) no-repeat 0 0;
  height: 8px;
  width: 7px;
  position: absolute;
  left: 12px;
  top: 13px;
  z-index: 99;
  text-indent: -9999px !important;
}
#views_slideshow_controls_text_pause_slideshow-block {
  background: url(/sites/all/themes/grindxl/images/play_btn.png) no-repeat 0 0;
  height: 14px;
  width: 10px;
  position: absolute;
  left: 30px;
  top: 10px;
  z-index: 99;
  text-indent: -9999px !important;
}
#views_slideshow_controls_text_next_slideshow-block {
  background: url(/sites/all/themes/grindxl/images/next_btn.png) no-repeat 0 0;
  height: 8px;
  width: 7px;
  position: absolute;
  left: 51px;
  top: 13px;
  z-index: 99;
  text-indent: -9999px !important;
}

#widget_pager_top_slideshow-block {
  position: absolute;
  right: 0;
  width: 87px;
}

.views-slideshow-pager-field-item a {
  background: url(/sites/all/themes/grindxl/images/pager_inactive.png) no-repeat 0 0;
  position: relative;
  float: left;
  top: 10px;
  z-index: 99;
  height: 8px;
  margin-right: 5px;
  width: 8px;
  text-indent: -9999px !important;
}
.views-slideshow-pager-field-item.active a {
  background: url(/sites/all/themes/grindxl/images/pager_active.png) no-repeat 0 0;
  height: 14px;
  width: 14px;
  top: 7px;
}

/* front page */

.view-frontpage {
  background-color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 20px;
}

.view-frontpage .views-row{
  border-bottom: 1px solid #DEDEDE;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.view-frontpage .field-name-field-image {
  float: left;
  margin-right: 10px;
}

.view-frontpage h2.comment-form,
.view-frontpage .comment-form {
  display: none;
}

.view-frontpage .views-row.views-row-last {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.node-teaser .node-title {
  margin: 0;
}

.node-teaser .field-name-body {
  color: #232323;
  margin-bottom: 10px;
}

.field-name-field-tags {
  margin-bottom: 20px;
  color: black;
}

.rate-widget {
  left: 52px;
  position: relative;
  top: -31px;
}

.rate-info, .rate-description {
  text-align: center;
}

.user-login-form form {
  text-align: center;
}

/* community */

#block-views-community-block-1 .item-list ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#block-views-community-block-1 .item-list ul li {
  margin: 0;
  display: inline;
  width: 50%;
  padding: 0;
  float: left;
  text-transform: capitalize;
}

#block-views-community-block-1 .item-list ul li a, 
#block-views-community-block-1 .item-list ul li a:link, 
#block-views-community-block-1 .item-list ul li a:hover,
#block-views-community-block-1 .item-list ul li a:visited {
  color: black;
}

#block-views-community-block-1 .item-list ul li.views-row {
  margin-bottom: 10px;
  margin-top: 10px;
  max-height: 85px;
  overflow: hidden;
}

#block-views-community-block-1 .item-list ul li.views-row-last {
  margin-bottom: 0;
}

#block-views-community-block-1 .view-footer {
  clear: both;
}

#block-views-community-block-1 .view-footer p {
  margin-bottom: 0;
}

#block-views-community-block-1 img, .view-id-community td img, .user-picture img {
  border: 2px solid #EAEAEA;
  padding: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.view-community.paper td {
  padding-bottom: 10px;
}

#edit-unsubscribe {
  display: none;
}

/* Comments */

.block-recent .item-list ul li {
  margin: 0 0 10px;
  overflow: hidden;
}

.block-recent .item-list ul li span {
  float: left;
  width: 100%;
}

article .content {
  margin-bottom: 10px;
}

ul.inline li.first {
  padding-left: 0;
  margin-right: 0;
}

/* Buttons */

.action-links li {
  display: inline;
}

.region-content .node-links ul li a, .comment-links ul li a, a.button, .action-links a, input[type="reset"], input[type="submit"], input[type="button"] {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding: 6px 15px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
  text-transform: capitalize;
  margin-bottom: 5px;
}.region-content .node-links ul li a:hover, .comment-links ul li a:hover, .action-links a:hover, .form-actions input:hover, a.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}.region-content .node-links ul li a:active, .comment-links ul li a:active, .action-links a:active {
  position:relative;
  top:1px;
}

.field-type-tweetbutton {
  float: right;
  margin-left: 10px;
}

/* user login */

.region-user-second.grid-5 {
  float: right;
}

#zone-user div.block-inner {
  border: none;
  background: none;
  padding-left: 35px;
}

#zone-user .block {
  padding-bottom: 0;
}

#zone-user .block .content {
  padding: 0;
}

#zone-user .form-item, .form-actions {
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
}

#zone-user input[type="text"], #zone-user input[type="password"] {
  height: 28px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius: 3px;
}

#zone-user input[type="submit"] {
  margin: 0;
  font-size: 12px;
  padding: 6px 13px;
}

#zone-user .item-list ul {
  clear: both;
  margin-bottom: 0;
}

#zone-user .item-list {
  text-align: right;
}

#zone-user .item-list ul li {
  display: inline;
  font-size: 10px;
  margin-left: 0;
  margin-right: 10px;
}

.form-item-name {
  margin-right: 5px;
}

#user-login-form #edit-actions {
  position: absolute;
  top: 0;
  right: 0;
}

.page-user .grid-12.region-content, .page-admin .grid-12.region-content, .not-front .region-content {
  padding: 20px 20px 0;
  width: 920px;
}

.not-front.page-blog .grid-9.region-content.alpha.omega {
  padding: 20px 20px 0;
  width: 670px;
}

#block-system-user-menu ul.menu {
  margin-left: 15px;
}

.submitted {
  margin-bottom: 5px;
}

.comment-author {
  float: left;
  margin-right: 5px;
}

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  height: 28px;
  padding: 2px 5px;
}

.view-comments-recent .item-list ul li {
  margin: 0 0 15px;
  padding: 0 0 10px;
  border-bottom: 1px dotted #EAEAEA;
}

.view-comments-recent .item-list ul li.views-row-last {
  margin: 0;
  padding: 0;
  border-bottom: none;
}

/* simple news */

.simplenews-subscribe #edit-mail {
  width: 100%;
  float: left;
  height: 28px;
  margin-top: 0;
  margin-bottom: 10px;
}

.simplenews-subscribe label {
  display: none;
}

#block-simplenews-5 p {
  margin: 0 0 5px;
}

.simplenews-subscribe input[type="submit"] {
  margin-right: 0;
  float: right;
}

.simplenews-subscribe div.form-type-textfield {
  overflow: hidden;
  margin: 0;
}

.issues-link {
  display: none;
}

/* User Profile */

table {
  width: 100%;
  text-align: center;
}

.page-user ul.primary {
  margin-bottom: 20px;
}

.view-profile .item-list ul li {
  border: 1px solid #CDD;
  padding: 10px;
  display: block;
  float: left;
  margin-top: 2px;
  width: 612px;
  margin-left: 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-radius: 2px;
}

.view-profile .views-field-type {
  float: left;
}

.view-profile .views-field-field-image, .view-profile .views-field-field-video, .view-profile .views-field-field-album-cover {
  text-align: center;
}

.user-profile-image {
  float: left;
  margin-right: 10px;
}

.post-information {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #EFEFEF;
  height: 30px;
  line-height: 29px;
  display: block;
}

ul.userpoints-links {
  margin-left: 40px;
}

ul.userpoints-links a:link,
ul.userpoints-links a:hover,
ul.userpoints-links a:visited {
  color: black;
}

.group-default-photo h3 {
  margin: 0;
}

.feed-icon {
  display: none;
}

#edit-picture legend {
  display: none;
}

#zone-user #user-login-form .item-list ul {
  margin: 0;
}

#zone-user #user-login-form .item-list ul li {
  margin: 0;
}

#zone-user #user-login-form .item-list {
  margin-top: 15px;
}

/* Music */

.field-name-field-album-cover {
  margin-bottom: 2px;
}

.jp-playlist {
  display: none;
}

.view-profile .node-form .vertical-tabs {
  display: none;
}

article.node .author-photo .user-picture {
  position: absolute;
  right: 19px;
  top: 15px;
}

article.node .user-picture img {
  width: 60px;
  height: 60px;
}

.profile .user-picture {
  margin-right: 0;
  margin-bottom: 0;
}

.view-recent-content .user-picture {
  float: right;
}

.view-recent-content .row {
  margin-bottom: 10px;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 10px;
}

.view-recent-content .views-row-last {
  border: none;
  padding-bottom: 0;
}

.field-name-field-image {
  margin-bottom: 10px;
}

#comments .user-picture {
  float: left;
  margin-right: 10px;
}

#comments article {
  margin-bottom: 10px;
  border: none;
  padding-bottom: 20px;
}

#comments h2.comment-form {
  border: none;
}

#comments article h3 {
  margin-bottom: 0;
}

#comments h2{
  border-bottom: 1px solid #CDD;
  margin-bottom: 0;
  width: 100%;
}

em.new {
  color: red;
}

.facebook-status-item {
  margin-bottom: 10px;
}

.facebook-status-sender-picture img {
  width: 45px;
  height: 45px;
}

.statuses-sender {
  display: none;
}

.fbss_attachment {
  padding-left: 0;
  padding-top: 0;
}

.view-statuses-stream table {
  text-align: left;
}

.view-statuses-stream {
  position: relative;
  top: 20px;
}

tr.even, tr.odd {
  background: none;
  border-bottom: none;
  padding: 0;
}

/* menu overrides */
li.view {
  background: url('../images/black/user_24x32.png') no-repeat 0 0;
}
li.edit {
  display: none;
}
