/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */


#region-content.grid-12.alpha.omega {
  width: 920px
}

.page-user #region-content {
  min-height: 737px;
}