/* Static View-only Star Version */
.fivestar-black div.fivestar-widget-static .star {
  width: 18px;
  height: 18px;
  background: url(min_star.png) no-repeat 0 0;
}

.fivestar-black div.fivestar-widget-static .star span.on {
  background: url(min_star.png) no-repeat 0 -36px;
}

.fivestar-black div.fivestar-widget-static .star span.off {
  background: url(min_star.png) no-repeat 0 0;
}

/* Javascript Star Version */
.fivestar-black div.fivestar-widget .cancel,
.fivestar-black div.fivestar-widget .star {
  width: 18px;
  height: 18px;
}
.fivestar-black div.fivestar-widget .cancel,
.fivestar-black div.fivestar-widget .cancel a {
  background: url(min_delete.png) no-repeat 0 0;
}

.fivestar-black div.fivestar-widget .star,
.fivestar-black div.fivestar-widget .star a {
  background: url(min_star.png) no-repeat 0 0;
}

.fivestar-black div.fivestar-widget div.on a {
  background-position: 0 -19px;
}
.fivestar-black div.fivestar-widget div.hover a,
.fivestar-black div.rating div a:hover {
  background-position: 0 -36px;
}