/* Adjust the background position when using this widget with a RTL langauge. */
.fivestar-black div.fivestar-widget-static .star span.on {
  background-position: right -32px;
}
.fivestar-black div.fivestar-widget div.on a {
  background-position: right -16px;
}
.fivestar-black div.fivestar-widget div.hover a,
.fivestar-black div.rating div a:hover {
  background-position: right -32px;
}
